# import the required packages

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing

In [2]:
df = pd.read_csv('datasets_11657_16098_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
le = preprocessing.LabelEncoder()

In [5]:
le.fit(df["Sex"])

LabelEncoder()

In [6]:
print(le.classes_)

['female' 'male']

# Encoding the categorical values!!

# converting the data

In [7]:
df["Sex"] = le.transform(df["Sex"])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df["Embarked"].loc[df['Embarked'] =='C'] = 0
df["Embarked"].loc[df['Embarked'] =='Q'] = 1
df["Embarked"].loc[df['Embarked'] =='S'] = 2

C:\Users\BHUBESH\Anaconda2\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [10]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Filling the nan values by the median or mode

In [11]:
df["Age"].fillna(df["Age"].median() , inplace = True)
df["Embarked"].fillna(df["Embarked"].mode()[0] , inplace = True)

In [12]:
# check the nan values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

# Define the Dependent and Independent Variables

In [13]:
df = df.drop(["PassengerId" , "Name" ,"Cabin","Ticket" ],axis =1)

In [14]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

# Support_Vector_Machine

In [15]:
from sklearn import svm

In [22]:
models = ['Pclass' , 'Sex','Survived'  , 'SibSp' , 'Parch' , 'Embarked']

In [23]:
def SVM(X,y):
    X_train , X_test , y_train , y_test = train_test_split(X,y , test_size = 0.3 , random_state = 0)
    
    clf = svm.SVC(gamma = 0.01 , C = 100) # gamma is used for the acuration
    clf.fit(X_train , y_train)
    y_pred = clf.predict(X_test)
    print("Accuracy Score:" ,accuracy_score(y_test , y_pred , normalize = True))
    print("----Confusion Matrix  is----:")
    print(confusion_matrix(y_test , y_pred))

# Defining the Dependent and Independent variables

In [24]:
for col in models:
    y = df[col]
    X = df.drop(col,axis = 1)
    print(" ")
    print(col , " Vs Remaining Dv")
    SVM(X,y)

Pclass  Vs Remaining Dv
Accuracy Score: 0.8880597014925373
----Confusion Matrix  is----:
[[ 57   3   0]
 [  7  39   6]
 [  3  11 142]]

Sex  Vs Remaining Dv
Accuracy Score: 0.75
----Confusion Matrix  is----:
[[ 58  41]
 [ 26 143]]

Survived  Vs Remaining Dv
Accuracy Score: 0.7686567164179104
----Confusion Matrix  is----:
[[139  29]
 [ 33  67]]

SibSp  Vs Remaining Dv
Accuracy Score: 0.7425373134328358
----Confusion Matrix  is----:
[[159  20   2   0   0   0]
 [ 31  31   3   0   0   0]
 [  1   3   1   2   0   0]
 [  1   2   0   3   0   0]
 [  2   2   0   0   3   0]
 [  0   0   0   0   0   2]]

Parch  Vs Remaining Dv
Accuracy Score: 0.8283582089552238
----Confusion Matrix  is----:
[[193   5   6   0   0   0]
 [ 21  17   1   1   0   0]
 [  6   3  12   0   0   0]
 [  0   0   0   0   0   0]
 [  0   1   1   0   0   0]
 [  0   1   0   0   0   0]]

Embarked  Vs Remaining Dv
Accuracy Score: 0.75
----Confusion Matrix  is----:
[[ 24   3  33]
 [  1   8  12]
 [ 14   4 169]]