In [1]:
import pandas as pd

In [3]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [22]:
df = pd.read_csv("datasets_11657_16098_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [24]:
le= preprocessing.LabelEncoder()

In [25]:
# gender is categorical
le.fit(df["Sex"])

LabelEncoder()

In [26]:
print(le.classes_)

['female' 'male']

In [27]:
# converting
df["Sex"] = le.transform(df["Sex"])

In [28]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [29]:
from sklearn import neighbors

In [51]:
y = df["Pclass"] #DV 
X = df.drop(["Sex" ,"PassengerId" , "Name" ,"Cabin","Ticket" ],axis =1)

In [52]:
X.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Embarked
0         0       3  22.0      1      0   7.2500         2
1         1       1  38.0      1      0  71.2833         0
2         1       3  26.0      0      0   7.9250         2
3         1       1  35.0      1      0  53.1000         2
4         0       3  35.0      0      0   8.0500         2

In [55]:
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size = 0.3 , random_state = 0)

In [56]:
X_train.head()

     Survived  Pclass   Age  SibSp  Parch     Fare  Embarked
857         1       1  51.0      0      0  26.5500         2
52          1       1  49.0      1      0  76.7292         0
386         0       3   1.0      5      2  46.9000         2
124         0       1  54.0      0      1  77.2875         2
578         0       3  28.0      1      0  14.4583         0

In [57]:
df['Embarked'].loc[df['Embarked'] == 'C'] = 0
df['Embarked'].loc[df['Embarked'] == 'Q'] = 1
df['Embarked'].loc[df['Embarked'] == 'S'] = 2

C:\Users\BHUBESH\Anaconda2\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)
C:\Users\BHUBESH\Anaconda2\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [48]:
df["Age"].fillna(df["Age"].median() , inplace = True)
df["Embarked"].fillna(df["Embarked"].mode()[0] , inplace = True)

In [58]:
knn = neighbors.KNeighborsClassifier(n_neighbors=3)

In [59]:
knn.fit(X_train , y_train).score(X_test,y_test)

0.8843283582089553

In [60]:
y_pred = knn.predict(X_test)

In [61]:
confusion_matrix(y_test , y_pred)

array([[ 56,   3,   1],
       [  8,  36,   8],
       [  4,   7, 145]], dtype=int64)

In [62]:
knn = neighbors.KNeighborsClassifier(n_neighbors=4)
print(knn.fit(X_train , y_train).score(X_test,y_test))
y_pred = knn.predict(X_test)
print(confusion_matrix(y_test , y_pred))

0.8544776119402985
[[ 57   2   1]
 [ 11  33   8]
 [  5  12 139]]

In [63]:
knn = neighbors.KNeighborsClassifier(n_neighbors=2)
print(knn.fit(X_train , y_train).score(X_test,y_test))
y_pred = knn.predict(X_test)
print(confusion_matrix(y_test , y_pred))

0.8507462686567164
[[ 58   2   0]
 [ 12  39   1]
 [  3  22 131]]

In [67]:
knn = neighbors.KNeighborsClassifier(n_neighbors=7)
print(knn.fit(X_train , y_train).score(X_test,y_test))
y_pred = knn.predict(X_test)
print(confusion_matrix(y_test , y_pred))

0.8432835820895522
[[ 56   2   2]
 [ 14  26  12]
 [  4   8 144]]