In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel("ANCOVA1.xlsx",sheet_name=0)
dataset.head()

   Store Number  Sales  Promotion  Coupon  ClietelRatings
0             1     10          1       1               9
1             2      9          1       1              10
2             3     10          1       1               8
3             4      8          1       1               4
4             5      9          1       1               6

In [4]:
import statsmodels.api as sm

In [7]:
from statsmodels.formula.api import ols

In [11]:
model = ols('Sales~C(Promotion)',dataset).fit()

In [12]:
oneway = sm.stats.anova_lm(model , type = 2)

In [13]:
print(oneway)  # oneway anova

                df      sum_sq    mean_sq          F    PR(>F)
C(Promotion)   2.0  106.066667  53.033333  17.943609  0.000011
Residual      27.0   79.800000   2.955556        NaN       NaN

### Two way anova

In [15]:
model = ols("Sales~C(Promotion)+C(Coupon)", dataset).fit()

In [17]:
twoway = sm.stats.anova_lm(model , type = 2)
print(twoway)

                df      sum_sq    mean_sq          F        PR(>F)
C(Promotion)   2.0  106.066667  53.033333  52.098237  8.032739e-10
C(Coupon)      1.0   53.333333  53.333333  52.392947  1.095036e-07
Residual      26.0   26.466667   1.017949        NaN           NaN

In [ ]:
# ancova variable , concept

In [19]:
model = ols('Sales~C(Promotion)+C(Coupon)+ClietelRatings',dataset).fit()

In [23]:
ancova = sm.stats.anova_lm(model,type=2)

In [24]:
print(ancova)

                  df      sum_sq    mean_sq          F        PR(>F)
C(Promotion)     2.0  106.066667  53.033333  51.732296  1.301539e-09
C(Coupon)        1.0   53.333333  53.333333  52.024936  1.471502e-07
ClietelRatings   1.0    0.837931   0.837931   0.817375  3.745789e-01
Residual        25.0   25.628736   1.025149        NaN           NaN

In [ ]:
# finding eta square

In [28]:
def anova_table(oneway):
    oneway["eta_sq"] = oneway[:0]["sum_sq"]/sum(oneway["sum_sq"])
    cols =["sum_sq" , 'df' ,'f' , 'PR(>F)', 'eta_sq']
    oneway = oneway[cols]
    return oneway;

In [29]:
oneway

                df      sum_sq    mean_sq          F    PR(>F)   eta_sq
C(Promotion)   2.0  106.066667  53.033333  17.943609  0.000011  0.57066
Residual      27.0   79.800000   2.955556        NaN       NaN      NaN