In [3]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [5]:
titanic_train = pd.read_csv("datasets_11657_16098_train.csv")
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
titanic_train["Age"].mean()

30.156195286195285

In [25]:
new_age_var = np.where(titanic_train["Age"].isnull(),32,titanic_train["Age"])

In [26]:
titanic_train["Age"] = new_age_var

In [27]:
new_age_var

array([22.  , 38.  , 26.  , 35.  , 35.  , 32.  , 54.  ,  2.  , 27.  ,
       14.  ,  4.  , 58.  , 20.  , 39.  , 14.  , 55.  ,  2.  , 32.  ,
       31.  , 32.  , 35.  , 34.  , 15.  , 28.  ,  8.  , 38.  , 32.  ,
       19.  , 32.  , 32.  , 40.  , 32.  , 32.  , 66.  , 28.  , 42.  ,
       32.  , 21.  , 18.  , 14.  , 40.  , 27.  , 32.  ,  3.  , 19.  ,
       32.  , 32.  , 32.  , 32.  , 18.  ,  7.  , 21.  , 49.  , 29.  ,
       65.  , 32.  , 21.  , 28.5 ,  5.  , 11.  , 22.  , 38.  , 45.  ,
        4.  , 32.  , 32.  , 29.  , 19.  , 17.  , 26.  , 32.  , 16.  ,
       21.  , 26.  , 32.  , 25.  , 32.  , 32.  ,  0.83, 30.  , 22.  ,
       29.  , 32.  , 28.  , 17.  , 33.  , 16.  , 32.  , 23.  , 24.  ,
       29.  , 20.  , 46.  , 26.  , 59.  , 32.  , 71.  , 23.  , 34.  ,
       34.  , 28.  , 32.  , 21.  , 33.  , 37.  , 28.  , 21.  , 32.  ,
       38.  , 32.  , 47.  , 14.5 , 22.  , 20.  , 17.  , 21.  , 70.5 ,
       29.  , 24.  ,  2.  , 21.  , 32.  , 32.5 , 32.5 , 54.  , 12.  ,
       32.  , 24.  , 32.  , 45.  , 33.  , 20.  , 47.  , 29.  , 25.  ,
       23.  , 19.  , 37.  , 16.  , 24.  , 32.  , 22.  , 24.  , 19.  ,
       18.  , 19.  , 27.  ,  9.  , 36.5 , 42.  , 51.  , 22.  , 55.5 ,
       40.5 , 32.  , 51.  , 16.  , 30.  , 32.  , 32.  , 44.  , 40.  ,
       26.  , 17.  ,  1.  ,  9.  , 32.  , 45.  , 32.  , 28.  , 61.  ,
        4.  ,  1.  , 21.  , 56.  , 18.  , 32.  , 50.  , 30.  , 36.  ,
       32.  , 32.  ,  9.  ,  1.  ,  4.  , 32.  , 32.  , 45.  , 40.  ,
       36.  , 32.  , 19.  , 19.  ,  3.  , 44.  , 58.  , 32.  , 42.  ,
       32.  , 24.  , 28.  , 32.  , 34.  , 45.5 , 18.  ,  2.  , 32.  ,
       26.  , 16.  , 40.  , 24.  , 35.  , 22.  , 30.  , 32.  , 31.  ,
       27.  , 42.  , 32.  , 30.  , 16.  , 27.  , 51.  , 32.  , 38.  ,
       22.  , 19.  , 20.5 , 18.  , 32.  , 35.  , 29.  , 59.  ,  5.  ,
       24.  , 32.  , 44.  ,  8.  , 19.  , 33.  , 32.  , 32.  , 29.  ,
       22.  , 30.  , 44.  , 25.  , 24.  , 37.  , 54.  , 32.  , 29.  ,
       62.  , 30.  , 41.  , 29.  , 32.  , 30.  , 35.  , 50.  , 32.  ,
        3.  , 52.  , 40.  , 32.  , 36.  , 16.  , 25.  , 58.  , 35.  ,
       32.  , 25.  , 41.  , 37.  , 32.  , 63.  , 45.  , 32.  ,  7.  ,
       35.  , 65.  , 28.  , 16.  , 19.  , 32.  , 33.  , 30.  , 22.  ,
       42.  , 22.  , 26.  , 19.  , 36.  , 24.  , 24.  , 32.  , 23.5 ,
        2.  , 32.  , 50.  , 32.  , 32.  , 19.  , 32.  , 32.  ,  0.92,
       32.  , 17.  , 30.  , 30.  , 24.  , 18.  , 26.  , 28.  , 43.  ,
       26.  , 24.  , 54.  , 31.  , 40.  , 22.  , 27.  , 30.  , 22.  ,
       32.  , 36.  , 61.  , 36.  , 31.  , 16.  , 32.  , 45.5 , 38.  ,
       16.  , 32.  , 32.  , 29.  , 41.  , 45.  , 45.  ,  2.  , 24.  ,
       28.  , 25.  , 36.  , 24.  , 40.  , 32.  ,  3.  , 42.  , 23.  ,
       32.  , 15.  , 25.  , 32.  , 28.  , 22.  , 38.  , 32.  , 32.  ,
       40.  , 29.  , 45.  , 35.  , 32.  , 30.  , 60.  , 32.  , 32.  ,
       24.  , 25.  , 18.  , 19.  , 22.  ,  3.  , 32.  , 22.  , 27.  ,
       20.  , 19.  , 42.  ,  1.  , 32.  , 35.  , 32.  , 18.  ,  1.  ,
       36.  , 32.  , 17.  , 36.  , 21.  , 28.  , 23.  , 24.  , 22.  ,
       31.  , 46.  , 23.  , 28.  , 39.  , 26.  , 21.  , 28.  , 20.  ,
       34.  , 51.  ,  3.  , 21.  , 32.  , 32.  , 32.  , 33.  , 32.  ,
       44.  , 32.  , 34.  , 18.  , 30.  , 10.  , 32.  , 21.  , 29.  ,
       28.  , 18.  , 32.  , 28.  , 19.  , 32.  , 32.  , 28.  , 32.  ,
       42.  , 17.  , 50.  , 14.  , 21.  , 24.  , 64.  , 31.  , 45.  ,
       20.  , 25.  , 28.  , 32.  ,  4.  , 13.  , 34.  ,  5.  , 52.  ,
       36.  , 32.  , 30.  , 49.  , 32.  , 29.  , 65.  , 32.  , 50.  ,
       32.  , 48.  , 34.  , 47.  , 48.  , 32.  , 38.  , 32.  , 56.  ,
       32.  ,  0.75, 32.  , 38.  , 33.  , 23.  , 22.  , 32.  , 34.  ,
       29.  , 22.  ,  2.  ,  9.  , 32.  , 50.  , 63.  , 25.  , 32.  ,
       35.  , 58.  , 30.  ,  9.  , 32.  , 21.  , 55.  , 71.  , 21.  ,
       32.  , 54.  , 32.  , 25.  , 24.  , 17.  , 21.  , 32.  , 37.  ,
       16.  , 18.  , 33.  , 32.  , 28.  , 26.  , 29.  , 32.  , 36.  ,
       54.  , 24.  , 47.  , 34.  , 32.  , 36.  , 32.  , 30.  , 22.  ,
       32.  , 44.  , 32.  , 40.5 , 50.  , 32.  , 39.  , 23.  ,  2.  ,
       32.  , 17.  , 32.  , 30.  ,  7.  , 45.  , 30.  , 32.  , 22.  ,
       36.  ,  9.  , 11.  , 32.  , 50.  , 64.  , 19.  , 32.  , 33.  ,
        8.  , 17.  , 27.  , 32.  , 22.  , 22.  , 62.  , 48.  , 32.  ,
       39.  , 36.  , 32.  , 40.  , 28.  , 32.  , 32.  , 24.  , 19.  ,
       29.  , 32.  , 32.  , 62.  , 53.  , 36.  , 32.  , 16.  , 19.  ,
       34.  , 39.  , 32.  , 32.  , 25.  , 39.  , 54.  , 36.  , 32.  ,
       18.  , 47.  , 60.  , 22.  , 32.  , 35.  , 52.  , 47.  , 32.  ,
       37.  , 36.  , 32.  , 49.  , 32.  , 49.  , 24.  , 32.  , 32.  ,
       44.  , 35.  , 36.  , 30.  , 27.  , 22.  , 40.  , 39.  , 32.  ,
       32.  , 32.  , 35.  , 24.  , 34.  , 26.  ,  4.  , 26.  , 27.  ,
       42.  , 20.  , 21.  , 21.  , 61.  , 57.  , 21.  , 26.  , 32.  ,
       80.  , 51.  , 32.  , 32.  ,  9.  , 28.  , 32.  , 31.  , 41.  ,
       32.  , 20.  , 24.  ,  2.  , 32.  ,  0.75, 48.  , 19.  , 56.  ,
       32.  , 23.  , 32.  , 18.  , 21.  , 32.  , 18.  , 24.  , 32.  ,
       32.  , 23.  , 58.  , 50.  , 40.  , 47.  , 36.  , 20.  , 32.  ,
       25.  , 32.  , 43.  , 32.  , 40.  , 31.  , 70.  , 31.  , 32.  ,
       18.  , 24.5 , 18.  , 43.  , 36.  , 32.  , 27.  , 20.  , 14.  ,
       60.  , 25.  , 14.  , 19.  , 18.  , 15.  , 31.  ,  4.  , 32.  ,
       25.  , 60.  , 52.  , 44.  , 32.  , 49.  , 42.  , 18.  , 35.  ,
       18.  , 25.  , 26.  , 39.  , 45.  , 42.  , 22.  , 32.  , 24.  ,
       32.  , 48.  , 29.  , 52.  , 19.  , 38.  , 27.  , 32.  , 33.  ,
        6.  , 17.  , 34.  , 50.  , 27.  , 20.  , 30.  , 32.  , 25.  ,
       25.  , 29.  , 11.  , 32.  , 23.  , 23.  , 28.5 , 48.  , 35.  ,
       32.  , 32.  , 32.  , 36.  , 21.  , 24.  , 31.  , 70.  , 16.  ,
       30.  , 19.  , 31.  ,  4.  ,  6.  , 33.  , 23.  , 48.  ,  0.67,
       28.  , 18.  , 34.  , 33.  , 32.  , 41.  , 20.  , 36.  , 16.  ,
       51.  , 32.  , 30.5 , 32.  , 32.  , 24.  , 48.  , 57.  , 32.  ,
       54.  , 18.  , 32.  ,  5.  , 32.  , 43.  , 13.  , 17.  , 29.  ,
       32.  , 25.  , 25.  , 18.  ,  8.  ,  1.  , 46.  , 32.  , 16.  ,
       32.  , 32.  , 25.  , 39.  , 49.  , 31.  , 30.  , 30.  , 34.  ,
       31.  , 11.  ,  0.42, 27.  , 31.  , 39.  , 18.  , 39.  , 33.  ,
       26.  , 39.  , 35.  ,  6.  , 30.5 , 32.  , 23.  , 31.  , 43.  ,
       10.  , 52.  , 27.  , 38.  , 27.  ,  2.  , 32.  , 32.  ,  1.  ,
       32.  , 62.  , 15.  ,  0.83, 32.  , 23.  , 18.  , 39.  , 21.  ,
       32.  , 32.  , 32.  , 20.  , 16.  , 30.  , 34.5 , 17.  , 42.  ,
       32.  , 35.  , 28.  , 32.  ,  4.  , 74.  ,  9.  , 16.  , 44.  ,
       18.  , 45.  , 51.  , 24.  , 32.  , 41.  , 21.  , 48.  , 32.  ,
       24.  , 42.  , 27.  , 31.  , 32.  ,  4.  , 26.  , 47.  , 33.  ,
       47.  , 28.  , 15.  , 20.  , 19.  , 32.  , 56.  , 25.  , 33.  ,
       22.  , 28.  , 25.  , 39.  , 27.  , 19.  , 32.  , 26.  , 32.  ])

# Converting the text into the numerical

In [14]:
label_encoder = preprocessing.LabelEncoder()

In [31]:
encoded_sex = label_encoder.fit_transform(titanic_train["Sex"])

### Independent variable => Gender
### Dependent Variable => Survived

In [32]:
tree_model = tree.DecisionTreeClassifier()

In [33]:
tree_model.fit(X = pd.DataFrame(encoded_sex) , y = titanic_train["Survived"])

DecisionTreeClassifier()

In [37]:
with open("Dtree1.dot" , 'w') as f:
    f = tree.export_graphviz(tree_model , feature_names = ["Sex"] , out_file = f)

# Independent variable => Fare
### Dependent Variable => Survived

In [41]:
tree_model.fit(X = pd.DataFrame(titanic_train["Fare"]) , y =titanic_train["Survived"])

DecisionTreeClassifier()

In [ ]:
# Descision Tree for the given varaibles

In [44]:
with open("Dtree2.dot", 'w') as f:
    f = tree.export_graphviz(tree_model , feature_names = ["Fare"] , out_file = f)

### IDV = Age
### DV = Survived

In [49]:
tree_model.fit(X = pd.DataFrame(new_age_var) , y = titanic_train["Survived"])

DecisionTreeClassifier()

In [ ]:
# Decsisoin Tree

In [46]:
with open("Dtree3.dot" , 'w') as f:
    f = tree.export_graphviz(tree_model , feature_names = ["Age"] , out_file = f)

In [ ]:
# predicting the number of passengers suurvived

In [53]:
predictors = pd.DataFrame([encoded_sex ,new_age_var]).T

In [ ]:
# using the classifier

In [54]:
tree_model.fit(X = predictors , y = titanic_train["Survived"])

DecisionTreeClassifier()

In [56]:
with open("Dtree4.dot" , 'w') as f:
    f = tree.export_graphviz(tree_model , feature_names = ["Sex" ,"Age"],out_file = f)